<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Оценка автомобиля</title>
</head>
<body>
	<h1>Заполните анкету</h1>
	<form class="questionnaire" method="post">
			<div class="left_col">
				<p>Марка автомобиля:</p>
				  	{{ form.csrf_token }}
				  	{{ form.brand(onchange="this.form.submit()") }}
				<p>Модель автомобиля:</p>
					{{ form.csrf_token }}
					{{ form.models() }}
				<p>Год выпуска:</p>
				<input type="" name="year_car">
				<p>Пробег:</p>
				<input type="" name="mileage">
				<p>Тип кузова:</p>
					{{ form.csrf_token }}
					{{ form.types_body() }}
				<p>Цвет:</p>
					{{ form.csrf_token }}
					{{ form.colors() }}
				<p>Руль:</p>
					{{ form.csrf_token }}
					{{ form.steering_wheel() }}
			</div>
			<div  class="right_col">
				<p>ПТС:</p>
					{{ form.csrf_token }}
					{{ form.pts() }}
				<p>Владельцев по ПТС:</p>
					{{ form.csrf_token }}
					{{ form.owners_by_pts() }}
				<p>Состояние:</p>
					{{ form.csrf_token }}
					{{ form.state() }}
				<p>Тип двигателя:</p>
					{{ form.csrf_token }}
					{{ form.types_engine() }}
				<p>Коробка передач:</p>
					{{ form.csrf_token }}
					{{ form.transmission() }}
				<p>Привод:</p>
					{{ form.csrf_token }}
					{{ form.car_drive() }}
				<p> </p>
				<p> </p>
				<input type="submit" name="">
			</div>
	</form>
</body>
</html>