<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Pupupu</title>
</head>
<body>

<div  class="questionnaire">
<div class="content_1">
	<h1> Заполните анкету для оценщика</h1>
</div>
<form action="" class="content_2">
	<table border="0" cellspacing='25'>
		<tr><td class="left-basis"><p>Марка автомобиля:</p></td>
			<td class="right-basis">
				<select>
					<option>-</option>
					<option> 1</option>
					<option> 1</option>
				</select>
			</td></tr>
		<tr><td class="left-basis"><p>Модель автомобиля:</p></td>
			<td class="right-basis">
				<select >
					<option>-</option>
					<option> 2</option>
				</select>
			</td></tr>
		<tr><td class="left-basis"><p>Год выпуска:</p></td>
			<td class="right-basis">
				<input type="textr" name="" class="inp">
			</td></tr>
		<tr><td class="left-basis"><p>Поколение:</p></td>
			<td class="right-basis">
				<input type="text" name="" class="inp">
			</td></tr>
		<tr><td class="left-basis"><p>Пробег</p></td>
			<td class="right-basis">
				<input type="text" name="" class="inp">
			</td></tr>
		<tr><td class="left-basis"><p>ПТС</p></td>
			<td class="right-basis">
				<select>
					<option>-</option>
					<option>Оригинал</option>
					<option>Дубликат</option>
				</select>
			</td></tr>
		<tr><td class="left-basis"><p>Владельцев по ПТС</p></td>
			<td class="right-basis">
				<select>
					<option>-</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>Более 4</option>
				</select>
			</td></tr>
		<tr><td class="left-basis"><p>Состояние</p></td>
			<td class="right-basis">
				<select>
					<option>-</option>
					<option>Не битый</option>
					<option>Битый</option>
				</select>
			</td></tr>
		<tr><td class="left-basis"><p>Тип двигателя</p></td>
			<td class="right-basis">
				<select>
					<option>-</option>
					<option>Бензин</option>
					<option>Дизель</option>
					<option>Гибрид</option>
				</select>
			</td></tr>
		<tr><td class="left-basis"><p>Коробка передач</p></td>
			<td class="right-basis">
				<select>
					<option>-</option>
					<option>Механика</option>
					<option>Автомат</option>
					<option>Вариатор</option>
					<option>Робот</option>
				</select>
			</td></tr>
		<tr><td class="left-basis"><p>Привод</p></td>
			<td class="right-basis">
				<select>
					<option>-</option>
					<option>Передний</option>
					<option>Задний</option>
					<option>Полный</option>
				</select>
			</td></tr>
		<tr><td class="left-basis"><p>Комплектация</p></td>
			<td class="right-basis">
				<input type="textr" name="" class="inp">
			</td></tr>
		<tr><td class="left-basis"><p>Тип кузова</p></td>
			<td class="right-basis">
				<select>
					<option>-</option>
					<option> Тип кузова</option>
				</select>
			</td></tr>
		<tr><td class="left-basis"><p>Цвет</p></td>
			<td class="right-basis">
				<select>
					<option>-</option>
					<option> Цвет</option>
				</select>
			</td></tr>
		<tr><td class="left-basis" ><p>Руль</p></td>
			<td class="right-basis">
				<select>
					<option>-</option>
					<option> Левый</option>
					<option> Правый</option>
				</select>
			</td></tr>
	</table>
	<input type="submit" name="" class="btm_submit">
</form>
</div>
</body>
</html>